<html>
	<head>
	</head>
	<body>
		<div id="contentbox">
			<div id="content">
				<h1>TaskTracker (Working Title) - Development Site</h1>

				<p>To start playing around in the app, select the option you'd like to get started with</p>
				<p>
					<%= link_to 'Start New Game', new_user_path %>
					<%= link_to 'Continue Game', tasks_path %>
				</p> 
			</div>
		</div>
	</body>
</html>

